/* styles for sample.js */
.sample-container {
  margin-top: 0.643em;
  margin-bottom: 0.643em;
  position: relative;
}
.sample-container pre {
  width: 47%;
  font-size: 18px;
  line-height: 25px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
  background: #3f3f3f;
}
.sample-container pre {
  *display: inline;
}
.sample-container pre code {
  z-index: 2;
}
.sample-container .iframe {
  width: 47%;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-left: 5%;
  vertical-align: top;
}
.sample-container .iframe {
  *display: inline;
}
.sample-container .iframe iframe {
  vertical-align: bottom;
  width: 100%;
  z-index: 2;
  background: #dcdcdc;
}
.sample-container button {
  margin: 0;
  padding: 0;
  border: 0;
  left: 50%;
  width: 10%;
  margin-left: -5%;
  position: absolute;
  top: 0;
  bottom: 0;
  vertical-align: middle;
  background: transparent;
  z-index: 0;
  color: white;
  text-shadow: 0 -1px 2px black;
  font-size: 28px;
}
.sample-container button:hover {
  color: #f60;
}

.present .sample-container:hover pre, .present .sample-container:hover .iframe {
  z-index: 1;
  position: relative;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.05), 0 0 4px rgba(0, 0, 0, 0.1);
}
.present .sample-container:hover pre::before, .present .sample-container:hover pre::after, .present .sample-container:hover .iframe::before, .present .sample-container:hover .iframe::after {
  content: '';
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 25px;
  right: 25px;
  border: 1px solid red;
  z-index: -2;
}
.present .sample-container:hover pre::before, .present .sample-container:hover .iframe::before {
  -moz-border-radius-topleft: 100px;
  -webkit-border-top-left-radius: 100px;
  -o-border-top-left-radius: 100px;
  -ms-border-top-left-radius: 100px;
  -khtml-border-top-left-radius: 100px;
  border-top-left-radius: 100px;
  -moz-border-radius-bottomright: 100px;
  -webkit-border-bottom-right-radius: 100px;
  -o-border-bottom-right-radius: 100px;
  -ms-border-bottom-right-radius: 100px;
  -khtml-border-bottom-right-radius: 100px;
  border-bottom-right-radius: 100px;
  -moz-box-shadow: -25px 20px 10px rgba(0, 0, 0, 0.4), 25px -18px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: -25px 20px 10px rgba(0, 0, 0, 0.4), 25px -18px 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: -25px 20px 10px rgba(0, 0, 0, 0.4), 25px -18px 10px rgba(0, 0, 0, 0.4);
  box-shadow: -25px 20px 10px rgba(0, 0, 0, 0.4), 25px -18px 10px rgba(0, 0, 0, 0.4);
  -moz-transform: rotate(-2deg);
  -webkit-transform: rotate(-2deg);
  -o-transform: rotate(-2deg);
  -ms-transform: rotate(-2deg);
  transform: rotate(-2deg);
}
.present .sample-container:hover pre::after, .present .sample-container:hover .iframe::after {
  -moz-border-radius-topright: 100px;
  -webkit-border-top-right-radius: 100px;
  -o-border-top-right-radius: 100px;
  -ms-border-top-right-radius: 100px;
  -khtml-border-top-right-radius: 100px;
  border-top-right-radius: 100px;
  -moz-border-radius-bottomleft: 100px;
  -webkit-border-bottom-left-radius: 100px;
  -o-border-bottom-left-radius: 100px;
  -ms-border-bottom-left-radius: 100px;
  -khtml-border-bottom-left-radius: 100px;
  border-bottom-left-radius: 100px;
  -moz-box-shadow: 25px 20px 10px rgba(0, 0, 0, 0.4), -25px -18px 10px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 25px 20px 10px rgba(0, 0, 0, 0.4), -25px -18px 10px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 25px 20px 10px rgba(0, 0, 0, 0.4), -25px -18px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 25px 20px 10px rgba(0, 0, 0, 0.4), -25px -18px 10px rgba(0, 0, 0, 0.4);
  -moz-transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
