@charset "UTF-8";
#reveal .nav li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 0 1em;
  border-right: 1px dotted #ccc;
  text-shadow: 0 -1px 2px rgba(0, 0, 0, 0.6);
}
#reveal .nav li {
  *display: inline;
}
#reveal .nav li:last-child {
  border: 0;
}
#reveal ul ul {
  margin-left: 1em;
}
#reveal section.html5 {
  overflow: hidden;
}
#reveal section.html5::after {
  content: '新標準';
  text-align: center;
  display: block;
  background: rgba(0, 255, 0, 0.3);
  position: absolute;
  padding: 3px 100px;
  right: -85.36px;
  top: 35.36px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#reveal section.chapter h2 {
  font-size: 4.286em;
  line-height: 1.2em;
  position: relative;
  margin-top: 160px;
  margin-bottom: 180px;
}
#reveal section.chapter h2::after {
  position: absolute;
  content: '➫';
  width: 100%;
  left: 0;
  top: 100%;
  font-size: 200px;
}
#reveal code {
  font-family: "Consolas", "Lucida Console", monospace;
  color: #E3CEAB;
}
#reveal .sample-container code {
  color: inherit;
}
#reveal .sample-container.small pre, #reveal pre.small {
  font-size: 11px;
  line-height: 16px;
}
#reveal .sample-container.nopreview button, #reveal .sample-container.nopreview .iframe {
  display: none;
}
#reveal .sample-container.nopreview pre {
  width: 90%;
  margin: 0 auto;
}
#reveal .img-board {
  /* div that puts images freely */
  position: relative;
}
#reveal .img-board img {
  position: absolute;
}
#reveal .img-board .box {
  /* in HTML slides */
  position: absolute;
  border: 4px solid black;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -o-border-radius: 15px;
  -ms-border-radius: 15px;
  -khtml-border-radius: 15px;
  border-radius: 15px;
}
#reveal .img-board .box::before, #reveal .img-board .box::after {
  position: absolute;
  font-family: monospace;
  font-size: 12px;
  line-height: 12px;
  padding: 0.5em;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.3);
}
#reveal .img-board .box::before {
  right: 100%;
  bottom: 100%;
  content: "<" attr(data-name) ">";
}
#reveal .img-board .box::after {
  left: 100%;
  top: 100%;
  content: "</" attr(data-name) ">";
}
#reveal .three-column, #reveal .two-column {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  vertical-align: top;
  margin: 0 1%;
}
#reveal .three-column, #reveal .two-column {
  *display: inline;
}
#reveal .three-column {
  width: 30%;
}
#reveal .two-column {
  width: 45%;
}
#reveal .sample-container.demo-dom-native pre, #reveal .sample-container.demo-dom-jquery pre, #reveal .sample-container.maxheight pre {
  max-height: 350px;
  overflow: auto;
}
