#reveal section.html5 {
  overflow: hidden;
}
#reveal section.html5::after {
  content: '新標準';
  text-align: center;
  display: block;
  background: rgba(0, 255, 0, 0.3);
  position: absolute;
  padding: 3px 100px;
  right: -85.36px;
  top: 35.36px;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#reveal code {
  font-family: "Consolas", "Lucida Console", monospace;
  color: #E3CEAB;
}
#reveal .sample-container code {
  color: inherit;
}
