/* styles for sample.js */
@import 'common';

.sample-container{
  @include leader(0.5);
  @include trailer(0.5);
  position: relative;
  pre{
    width: 47%;
    font-size: 18px;
    line-height: 25px;
    @include inline-block;
    vertical-align: top;
    background: #3f3f3f;
    code{
      z-index: 2; // covering the pseudo elems
    }
  }
  .iframe{
    width: 47%;
    @include inline-block;
    margin-left: 5%;
    vertical-align: top;
    iframe{
      vertical-align: bottom; // eliminate trailing space
      width: 100%;
      z-index: 2; // covering the pseudo elems
      background: #dcdcdc;
    }
  }

  button{
    margin: 0; padding: 0; border: 0;
    left: 50%;
    width: 10%;
    margin-left: -5%;
    position: absolute;
    top: 0; bottom: 0;
    vertical-align: middle;
    background: transparent;
    z-index: 0;
    color: white;
    text-shadow: 0 -1px 2px #000;
    font-size: 28px;
    &:hover{
      color: #f60;
    }
  }

  pre, .iframe{
    z-index: 1; // create stacking context for pseudo elems
    position: relative;
    $shadow-y-offset : 20px;
    $shadow-x-offset : 25px;
    $shadow-bluriness : 10px;
    $shadow-color: rgba(#000, 0.4);

    @include box-shadow(0 0 20px rgba(#000, 0.05), 0 0 4px rgba(#000, .1));
    &::before, &::after{
      content: '';
      position: absolute;
      top: $shadow-y-offset; bottom: $shadow-y-offset;
      left:$shadow-x-offset; right: $shadow-x-offset;
      border: 1px solid red;
      z-index: -2;
    }
    &::before{
      // Shape the other two corners so that these corners
      // do not stand out.
      @include border-top-left-radius(100px);
      @include border-bottom-right-radius(100px);

      @include box-shadow(-$shadow-x-offset $shadow-y-offset $shadow-bluriness ($shadow-color)/1.2, $shadow-x-offset (-$shadow-y-offset + 2px) $shadow-bluriness $shadow-color);
      @include rotate(-2deg);
    }
    &::after{
      // Shape the other two corners so that these corners
      // do not stand out.
      @include border-top-right-radius(100px);
      @include border-bottom-left-radius(100px);

      @include box-shadow($shadow-x-offset $shadow-y-offset $shadow-bluriness ($shadow-color)/1.2, (-$shadow-x-offset) (-$shadow-y-offset + 2px) $shadow-bluriness $shadow-color);
      @include rotate(2deg);
    }
  }
}