@import 'common';

#reveal {
  section {
    &.html5 {
      overflow: hidden;
      &::after {
        content: '新標準';
        text-align: center;
        display: block;
        background: rgba(0, 255, 0, 0.3);
        position: absolute;
        padding: 3px 100px;
        right: -85.36px;
        top: 35.36px;
        @include rotate(45deg);
      }
    }
  }
  code em {
    display: inline-block;
    border: 1px solid #666;
    padding: 3px;
    font-style: normal;
    border-radius: 4px;
  }
}