@import 'common';

#reveal {
  .nav li{
    @include inline-block;
    padding: 0 1em;
    border-right: 1px dotted #ccc;
    @include text-shadow(0 -1px 2px rgba(#000, .6));
    &:last-child{
      border: 0;
    }
  }
  section {
    &.html5 {
      overflow: hidden;
      &::after {
        content: '新標準';
        text-align: center;
        display: block;
        background: rgba(0, 255, 0, 0.3);
        position: absolute;
        padding: 3px 100px;
        right: -85.36px;
        top: 35.36px;
        @include rotate(45deg);
      }
    }
    &.chapter{
      h2{
        @include adjust-font-size-to(120px);
        position: relative;
        margin-top: 160px;
        margin-bottom: 180px; // space for arrows
      }
      h2::after{
        position: absolute;
        content: '➫';
        width: 100% ;
        left: 0;
        top: 100%;
        font-size: 200px;
      }
    }
  }
  code {
    font-family: "Consolas", "Lucida Console", monospace;
    color: #E3CEAB;
  }
  .sample-container code{
    color: inherit;
  }
  .sample-container.small pre{
    font-size: 11px;
    line-height: 16px;
  }
  .sample-container.nopreview{
    button, .iframe{display: none;}
    pre{
      width: 90%;
      margin: 0 auto;
    }
  }
  .img-board{ /* div that puts images freely */
    position: relative;
    img{
      position: absolute;
    }
    .box{ /* in HTML slides */
      position: absolute;
      border: 4px solid black;
      @include border-radius(15px);
      &::before, &::after{
        position: absolute;
        font-family: monospace;
        font-size: 12px;
        line-height: 12px;
        padding: 0.5em;
        text-shadow: 0 1px 1px rgba(#fff, .3);
      }
      &::before{
        right: 100%; bottom: 100%;
        content: '<'attr(data-name)'>';
      }
      &::after{
        left: 100%; top: 100%;
        content: '</'attr(data-name)'>';
      }
    }
  }
  .three-column{
    width: 30%;
    @include inline-block;
  }
}