@import 'common';

#ruler {
  background: rgba(#999, .5);
  border: 1px solid #999;
  @include border-radius(2);
  z-index: 9999;
  height: 80px;
  width: 80px;
  text-align: center;
  @include opacity(.1);

  @include transition-property(opacity);
  @include transition-duration(.7s);
  &:hover{
    @include opacity(1);
  }

  .text{
    color: #000;
    font-size: 15px;
    @include text-shadow(0 1px 2px rgba(#fff, .7));
    white-space: nowrap;
  }
}