/* Basic Appearances */

.stacks{
  width: 900px;
  margin: 100px auto;
}

.stack{
  padding: 0;
  list-style: none;
  width: 300px;
  height: 200px;
  position: relative;
  float: left;
  border-bottom: 25px solid #999;
}

.stack:before{
  position: absolute;
  top: 0; height: 100%;
  left: 50%; margin-left: -10px; width: 20px;
  background: #999;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  z-index: -1;
  content: '';
}

.plate{
  background: #666;
  height: 38px;
  border: 1px solid #ccc;
  margin: 0 auto;
}

.plate[data-size="1"]{
  width: 40%;
}

.plate[data-size="2"]{
  width: 58%;
}

.plate[data-size="3"]{
  width: 70%;
}

.plate[data-size="4"]{
  width: 80%;
}

/* Stacking styles (toggled by JS) */

.stack.contain-4-items{
  padding-top: 40px; height: 160px;
}

.stack.contain-3-items{
  padding-top: 80px; height: 120px;
}

.stack.contain-2-items{
  padding-top: 120px; height: 80px;
}

.stack.contain-1-items{
  padding-top: 160px; height: 40px;
}

.stack.contain-0-items{
  padding-top: 180px; height: 20px;
}

/* Remove flickering */
.no-space{
  height: 0;
}